.App {
  font-family: "Architects Daughter", cursive;
  font-family: "Island Moments", cursive;
  font-family: "Play", sans-serif;
  font-family: "Poppins", sans-serif;
  text-align: center;
  background-image: url("../public/weather-background.webp");
  background-size: cover;
  margin: 20px auto;
  max-width: 450px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 2px 6px 4px 4px gray;
}
