.searchForm {
  font-family: "Architects Daughter", cursive;
}
.btn {
  background: #007bff;
  padding: 4px 25px;
  color: #fff;
  border: 1px solid #007bff;
  border-radius: 20px;
  margin: 0 10px;
}
form {
  margin-top: 25px;
}
.weather {
  font-family: "Architects Daughter", cursive;
  margin-top: 10px;
  font-weight: 400;
}
.weather h1 {
  font-size: 90px;
  margin-bottom: 2px;
  color: red;
}
.weather h2 {
  font-size: 60px;
  color: red;
}
.weather h3 {
  font-size: 40px;
  text-transform: capitalize;
  margin-top: 2px;
  color: #343a40;
}
.weather h6 {
  font-size: 25px;
  color: gray;
}
.icon {
  margin-right: 10px;
}
.units {
  font-size: 25px;
  position: relative;
  top: -30px;
  left: 6px;
}
.units a {
  text-decoration: none;
  color: red;
}
.units a:hover {
  text-decoration: underline;
  color: #007bff;
}
.number {
  font-size: 90px;
}
