.WeatherForecast {
  margin-top: 25px;
}
.WeatherForecast .forecast-temperature {
  font-size: 22px;
  line-height: 1.5;
  color: red;
  font-weight: bold;
}
.forecast-temperature-min {
  margin-left: 10px;
  opacity: 0.5;
}
.WeatherForecast .border {
  background-color: #59a4f5;
  margin: 6px;
  max-width: 90px;
  border-radius: 33px;
}
